<!DOCTYPE html>
<html xmlns:th="http://www.thymeleag.org">
<head>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<meta charset="ISO-8859-1">
<title>Inicio</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/listar">
      <img th:src="@{assets/banco-azteca.jpg}" width="200" height="80">
    </a>
  </div>
</nav>
<div class="container mt-4">
<a th:href="@{/new}" class="btn btn-outline-success">AGREGAR NUEVO CLIENTE</a>
<br><br>
<table class="table">
	<thead>
		<tr>
			<th>MOMBRE</th>
			<th>FECHA DE NACIMIENTO</th>
			<th>NSS</th>
			<th>CURP</th>
			<th>CORREO</th>
			<th>TELEFONO</th>
			<th>ACCIONES</th>
		</tr>
	</thead>
	<tbody>
		<tr th:each="c:${clientes}">
			<td th:text="${c.nombre}"></td>
			<td th:text="${c.nacimiento}"></td>
			<td th:text="${c.nss}"></td>
			<td th:text="${c.curp}"></td>
			<td th:text="${c.correo}"></td>
			<td th:text="${c.telefono}"></td>
			<td>
				<a th:href="@{/editar/}+${c.id}" class="btn btn-light">Editar</a>
				<!--  <a th:href="@{/eliminar/}+${p.id}" class="btn btn-danger">Eliminar</a>-->
				<a th:onclick="eliminar([${c.id])" class="btn btn-danger">Eliminar</a>
			</td>
		</tr>
	</tbody>
</table>
<!-- CDM DE JQUERY -->
<script src="https://code.jquery.com/jquery-3.6.3.js" integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
<!-- CDN DE SWEETALERT -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!--  funciones-->
<!-- script src="funciones.js"></script-->
</div>
</body>
</html>

